@use "animate.scss";

html,
body {
  padding: 0;
  margin: 0;
  --sans-font: "Segoe UI", "Helvetica Neue", sans-serif, -apple-system, system-ui;

  font-family: var(--sans-font);
}

:root {
  --header-height: 64px;
}

html:not(.dark) {
  background-color: white;
}

html.dark {
  background-color: black;
}
