@import "tailwindcss";
@import "@nuxt/ui";

html,
body {
  padding: 0;
  margin: 0;
  --sans-font: "Segoe UI", "Helvetica Neue", sans-serif, -apple-system, system-ui;

  font-family: var(--sans-font);
}

@layer base {
  body {
    @apply bg-neutral-50 dark:bg-neutral-950;
  }
}

:root {
  --ui-container: var(--container-12xl);
}

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.neutral.400") transparent;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: theme("colors.neutral.400");
    border-radius: 9999px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: theme("colors.neutral.500");
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:active {
    background-color: theme("colors.neutral.600");
  }
}
